
bin/Debug/Testing system.exe
bin/Debug/Testing system.exe
bin/Debug/Testing system.pdb
obj/Debug/Testing system.csproj.CoreCompileInputs.cache
obj/Debug/Testing system.csproj.FileListAbsolute.txt
obj/Debug/Testing system.csproj.GenerateResource.cache
obj/Debug/Testing system.exe
obj/Debug/Testing system.pdb
*.exe
obj/Debug/*
